# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/

# Виртуальные среды
venv/
hackaton-env/

# VS Code IDE
.vscode/

# WebStorm IDE
.idea/

# Исходные данные
# Изображения
images
# Загружаемые (исходные предобученные) модели
pretrained_models
# Результаты обучения для моделей Yolo
runs
#
saved_models/best_model_vit.pth

